.quote-item {
  @include t();
  @include radius(var(--radius-lg));
  display: block;
  // padding: 10px 20px 20px;
  border: 1px solid var(--color-border);
  margin-bottom: 40px;
  // overflow: hidden;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--color-bg-light);
  }

  .quote-item-empty {
    display: block;
    text-align: center;
    padding: 42px 32px 32px;
    font-size: 1.4rem;
    margin: 0;
  }

  a {
    @include font(700);
    font-size: inherit;
    font-size: 1.6rem;
    color: var(--color-highlight);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-color: rgb(var(--color-highlight));
    }
  }

  // &:hover {
  // background-color: var(--color-bg-light);
  // }

  .quote-item-header {
    border-top-right-radius: var(--radius-lg);
    border-top-left-radius: var(--radius-lg);
    @include flex(8px);
    // margin-bottom: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-border);

    .quote-quotees {
      display: block;

      .quote-text {
        display: inline-block;
        margin-right: 10px;
        text-decoration: none;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .quote-text {
      @include font(400);
      color: var(--color-text-light);
      font-size: 1.4rem;

      a {
        color: var(--color-highlight);
        font-size: inherit;

        &:hover {
          // text-decoration: underline;
          // text-decoration-thickness: 3px;
          text-decoration-color: rgb(var(--color-highlight));
        }
      }

      &.quote-author {
        color: var(--color-text-lighter);

        a {
          color: var(--color-text-lighter);
        }
      }
    }

    .quote-divider {
      display: block;
      @include radius(50%);
      width: 6px;
      height: 6px;
      background-color: var(--color-border);
      margin: 0 10px;
      transform: translateY(-1px);
    }

    .quote-padder {
      flex: 1;
    }
  }

  .quote-item-content {
    // border-bottom-left-radius: var(--radius-lg);
    // border-bottom-right-radius: var(--radius-lg);
    display: block;
    padding: 20px 20px 10px;
    width: 100%;
    text-align: left;
    // overflow: hidden;

    // TODO
    // Add special cases for these items, when only 1 of the blocks is present
    // in said quote (remove quote-item-quotee) for example and / or remove any
    // special highlight styling, as only 1 item is present

    .quote-item-content-block {
      display: block;
      margin-bottom: 25px;
      pointer-events: none;

      &:only-child {
        padding-bottom: 20px;
        .quote-item-quotee {
          display: none;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      @mixin highlight {
        position: relative;
        z-index: 2;

        // &:after {
        //   content: "";
        //   // @include radius(6px);
        //   display: block;
        //   position: absolute;
        //   inset: -20px;
        //   z-index: -1;
        //   background-color: var(--color-highlight-shade);
        // }
      }

      .quote-item-quotee {
        @include flex($gap: 5px);
        width: 100%;
        padding-left: 5px;
        padding-top: 8px;
        // text-align: right;

        span,
        a,
        .material-icons {
          color: var(--color-text-lighter);
        }

        span:not(.material-icons),
        a {
          @include font(400);
          font-size: 1.5rem;
        }
      }

      /* HIGHLIGHT COMPONENT */

      &.quote-item-highlight {
        @include highlight();
        position: relative;

        strong {
          @include font(400);
          word-wrap: break-word;
          color: var(--color-highlight);
        }
      }

      /* CONTEXT COMPONENT */

      &.quote-item-context {
        strong {
          @include font(400);
          word-wrap: break-word;
          font-size: 2rem;
          color: var(--color-text);
        }
      }

      /* IMAGE COMPONENT */

      &.quote-item-image {
        display: block;

        &.is-highlight {
          @include highlight();

          &:after {
            top: -10px;
          }
        }

        img {
          @include radius(6px);
          display: block;
          max-width: 75%;
          max-height: 1024px;
          object-fit: contain;
          object-position: center;
          box-shadow: var(--shadow);
        }
      }
    }
  }
}

// This will also be used in quote detail
.quote-item-interact {
  @include flex($gap: 5px);

  .flag {
    .material-icons {
      color: var(--color-red);
    }
  }

  p {
    margin-left: 15px;

    @include font(700);
    color: var(--color-text);
  }

  .upvote {
    .material-icons {
      color: var(--color-highlight);
    }
  }
}
