.quote-item {
  @include t();
  @include radius(var(--radius-lg));
  display: block;
  border: 1px solid var(--color-border);
  margin-bottom: 40px;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--color-bg-light);
  }

  .parts {
    @include font(600);
    display: none;
    z-index: 30;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    color: var(--color-text-light);
    pointer-events: none;
  }

  &.quote-disabled {
    pointer-events: none;
  }

  .quote-item-empty {
    display: block;
    text-align: center;
    padding: 42px 32px 32px;
    font-size: 1.4rem;
    margin: 0;
  }

  a {
    @include font(700);
    font-size: inherit;
    font-size: 1.6rem;
    color: var(--color-highlight);
  }

  .quote-item-header {
    border-top-right-radius: var(--radius-lg);
    border-top-left-radius: var(--radius-lg);
    @include flex(8px);
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-border);

    .quote-quotees {
      display: block;

      .quote-text {
        display: inline-block;
        margin-right: 10px;
        text-decoration: none;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .quote-text {
      @include font(400);
      color: var(--color-text-light);
      font-size: 1.4rem;

      a {
        color: var(--color-highlight);
        font-size: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 3px;
          text-decoration-color: rgb(var(--color-highlight));
        }
      }

      &.quote-comments {
        width: auto;
        @include flex(5px);
      }

      &.quote-author {
        color: var(--color-text-lighter);

        a {
          color: var(--color-text-lighter);
        }
      }
    }

    .quote-divider {
      display: block;
      @include radius(50%);
      width: 6px;
      height: 6px;
      background-color: var(--color-border);
      margin: 0 10px;
      transform: translateY(-1px);
    }

    .quote-padder {
      flex: 1;
    }
  }

  .quote-item-content {
    display: block;
    padding: 20px 20px 10px;
    width: 100%;
    text-align: left;
    text-decoration: none !important;
  }
}

.quote-item-content-block {
  display: block;
  margin-bottom: 25px;

  &:before {
    visibility: visible;
    opacity: 1;
    left: 100% !important;
    color: var(--color-highlight);
    background-color: var(--color-bg-light-hover);
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @mixin highlight {
    position: relative;
    z-index: 2;

    .quote-item-quotee {
      .material-icons {
        color: var(--color-highlight);
      }
    }
  }

  .quote-item-quotee {
    @include flex($gap: 5px);
    width: 100%;
    padding-left: 5px;
    padding-top: 8px;

    a,
    span,
    p,
    .material-icons {
      color: var(--color-text-lighter);
    }

    span:not(.material-icons),
    p {
      @include font(400);
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-color: rgb(var(--color-highlight));
    }
  }

  /* HIGHLIGHT COMPONENT */

  &.quote-item-highlight {
    @include highlight();
    position: relative;

    strong {
      @include font(400);
      word-wrap: break-word;
      font-size: 5.5rem;
      line-height: 1em;
      color: var(--color-highlight);
      text-decoration: none !important;
    }
  }

  /* CONTEXT COMPONENT */

  &.quote-item-context {
    strong {
      @include font(400);
      word-wrap: break-word;
      font-size: 2rem;
      color: var(--color-text);
      text-decoration: none !important;
    }
  }

  /* IMAGE COMPONENT */

  &.quote-item-image {
    display: block;

    &.is-highlight {
      @include highlight();

      img {
        max-width: 100%;
        // max-height: calc(100vh - $header - 80px);
        max-height: 80vh;
        box-shadow: var(--shadow-highlight);
      }
    }

    img {
      @include radius(var(--radius-sm));
      display: block;
      max-width: 324px;
      max-height: 80vh;
      object-fit: contain;
      object-position: center;
      box-shadow: var(--shadow);
    }
  }
}

// This will also be used in quote detail
.quote-item-interact {
  @include flex($gap: 5px);

  .flag {
    .material-icons {
      color: var(--color-red);
    }
  }

  p {
    margin-left: 15px;
    text-decoration: none;
    @include font(700);
    color: var(--color-text);
  }

  .upvote {
    .material-icons {
      color: var(--color-highlight);
    }
  }
}
