.quote-home {
  padding-top: 8em;
  position: relative;
  height: calc(100vh - $header);
  z-index: 1;
  overflow: hidden;

  .bg {
    @include t();
    z-index: -1;
    position: fixed;
    left: -256px;
    bottom: -256px;
    pointer-events: none;
  }

  .quote-container {
    @include grid(80px, 1fr 1fr);
    align-items: center;
    margin: 0 auto;
    width: 75%;
    max-width: 1440px;

    h1 {
      @include bebas();
      font-size: 10rem;
      margin-bottom: 15px;
      position: relative;
      z-index: 3;
      color: var(--color-text);

      &:before,
      &:after {
        @include bebas();
        content: "Hivecom Quotes";
        font-size: inherit;
        position: absolute;
        top: 4px;
        left: 4px;
        color: var(--color-text);
        opacity: 0.5;
        // color: transparent;
        z-index: -1;
        // -webkit-text-stroke-width: 1px;
        // -webkit-text-stroke-color: var(--color-border);
      }

      &:before {
        top: 8px;
        left: 8px;
        opacity: 0.2;
        // color: var(--color-text-lighter);
      }
    }

    p {
      font-size: 2.8rem;
      color: var(--color-text-light);
      line-height: 1.4em;
      margin-bottom: 20px;
    }

    .quote-example {
      @include t();
      @include radius(var(--radius-lg));
      display: block;
      border: 1px solid var(--color-border);
      box-shadow: var(--shadow);
      text-decoration: none !important;

      &:hover {
        background-color: var(--color-bg-light);
      }

      .example-header {
        @include flex(10px);
        padding: 15px 20px;
        border-bottom: 1px solid var(--color-border);

        span {
          color: var(--color-text-light);
          font-size: 1.4rem;

          &:first-of-type b {
            color: var(--color-highlight);
          }

          b {
            font-size: inherit;
          }
        }
      }

      .example-content {
        padding: 20px;

        .example-line {
          margin-bottom: 30px;

          &.highlight {
            strong {
              font-size: 7rem;
              color: var(--color-highlight);
            }
          }

          strong {
            display: block;
            @include font(500);
            font-size: 2.8rem;
            color: var();
            margin-bottom: 10px;
            color: var(--color-text);
          }

          img {
            width: 64px;
          }

          span {
            @include flex(5px);
            font-size: 1.6rem;
            color: var(--color-text-light);

            .material-icons {
              display: block;
              width: auto;
              color: var(--color-highlight);
            }
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .made-by {
    @include flex(5px);
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-text-light);
    font-size: 1.4rem;

    a {
      @include font(600);
      text-decoration: none;
      color: var(--color-highlight);
      font-size: inherit;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-decoration-color: rgb(var(--color-highlight));
      }
    }

    .material-icons {
      color: var(--color-highlight);
    }
  }
}

.modal-content.modal-conditions {
  h1 {
    font-size: 5rem;
    margin-bottom: 40px;
  }

  p {
    display: block;
    font-size: 2rem;
    line-height: 1.4em;
    margin-bottom: 20px;
  }
}
