.quote-detail {
  display: block;
  padding-bottom: 156px;

  .quote-detail-top {
    padding-top: 3em;
    @include flex(20px);
    margin-bottom: 40px;
  }

  .quote-item-content {
    @include radius(var(--radius-lg));
    padding: 20px;
    border: 1px solid var(--color-border);
  }
}
