.quote-route-create {
  padding-bottom: 156px;
  padding-top: 3em;

  .quote-title-wrap .button {
    @include t(0.2s);
  }

  h1 {
    margin-bottom: 50px;
  }

  .quote-create {
    // display: block;

    &.is-loading {
      pointer-events: none !important;
    }

    .quote-blocks {
      display: block;
      position: relative;
      // margin-bottom: 24px;
    }

    .add-block {
      @include t(0.2s);
      @include radius(var(--radius-lg));
      @include flex(15px, $justify: center);
      background-color: var(--color-bg-light);
      height: 156px;
      width: 100%;
      position: relative;
      padding-left: 15px;
      border: 1px solid transparent;
      margin-bottom: 60px;

      .add-block-label {
        @include font(400);
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        color: var(--color-text-light);
        font-size: 1.1rem;
        text-transform: uppercase;
      }

      &.has-blocks {
        height: 72px;

        .add-block-label {
          display: none;
        }
      }

      .button {
        @include t();
        @include font(400);
        height: 44px;
        line-height: 44px;
        gap: 10px;
        padding: 0 20px;

        background-color: var(--color-bg-light-hover);
        color: var(--color-text);
        font-size: 1.6rem;

        .material-icons {
          @include t();
          color: var(--color-highlight);
          font-size: 2rem !important;
        }

        &:hover {
          color: var(--color-bg-light);
          background-color: var(--color-highlight);

          .material-icons {
            color: var(--color-bg-light);
          }
        }
      }
    }

    .quote-publish {
      width: 75%;

      .form-input {
        margin-bottom: 24px;
      }

      .form-checkbox {
        margin-bottom: 10px;
        margin-left: 20px;
      }

      .form-select {
        // margin-top: 40px;
        margin-bottom: 20px;
      }

      .button {
        margin-top: 32px;
        margin-left: 20px;
      }

      .tag-wrap {
        @include grid(20px, 1fr 48px);
        align-items: center;
        margin-bottom: 20px;

        .form-select {
          margin-bottom: 0;
        }

        .button {
          width: 48px;
          height: 48px;
          min-width: 48px;
          line-height: 48px;
          margin: 0;
          text-decoration: none;
        }
      }
    }
  }

  .quote-preview {
    .quote-preview-empty {
      @include radius(var(--radius-lg));
      display: block;
      text-align: center;
      padding: 32px;
      background-color: var(--color-bg-light);
    }
  }
}

.quote-block {
  // @include t();
  @include radius(var(--radius-lg));
  display: block;
  position: relative;
  margin-bottom: 40px;
  padding: 16px;
  width: 100%;
  border: 1px solid var(--color-border);

  &.is-dragging-over {
    background-color: var(--color-bg-light);
  }

  &:before {
    content: "";
    top: 0;
    right: 100%;
    position: absolute;
    bottom: 0;
    left: -80px;
    display: block;
  }

  &.quote-block-image-url {
    padding: 0;
  }

  &:hover {
    &.block-create-highlight,
    &.block-create-context {
      box-shadow: var(--shadow);
    }

    .quote-buttons {
      opacity: 1;

      button {
        opacity: 1;
      }
    }
  }

  .quote-buttons {
    @include t();
    @include flex(16px, $dir: column);
    position: absolute;
    top: 0;
    left: -48px;
    font-size: 1.4rem;
    color: var(--color-highlight);
    // color: var(--color-text);

    button {
      @include t();
      color: var(--color-text-light);
      opacity: 0.45;

      &:first-of-type {
        color: var(--color-highlight);
      }
    }

    b {
      font-size: inherit;
    }
  }

  .form-input.form-quotee {
    display: block;
    margin-top: 8px;
    margin-bottom: 24px;

    input {
      @include radius(0);
      height: 32px;
      padding: 0 12px;
      line-height: 32px;
      border-left: none;
      border-right: none;
      border-top: none;
    }
  }

  &:last-of-type {
    margin-bottom: 40px;
  }
}
