.quote-route-list {
  padding-bottom: 156px;
  padding-top: 20px;

  .quote-list-header {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-border);
  }

  .quote-list {
    .quote-list-context {
      @include flex($gap: 40px);
      margin-bottom: 20px;

      p {
        flex: 1;
        color: var(--color-text-light);
        font-size: 1.4rem;

        b {
          font-size: inherit;
        }
      }

      .quote-list-display-switch {
        @include flex($gap: 8px);

        .type-title {
          margin-right: 1px;
          color: var(--color-text-light);
        }
      }
    }

    // .quote-list-items {
    //   @include grid(20px, repeat(2, 1fr));
    // }
  }
}

.quote-title-wrap {
  & > * {
    margin-bottom: 0 !important;
  }

  &.text {
    @include flex($align: center, $gap: 40px);
    margin-bottom: 20px;
  }

  &.quote-filters {
    @include grid(10px, repeat(5, 1fr));
    // @include flex(10px);
    position: relative;
    align-items: center;

    .form-search {
      // width: 256px;

      input {
        height: 48px;
        line-height: 48px;
      }

      & > .material-icons {
        top: 13px;
        left: 18px;
      }
    }

    .form-select {
      // width: 256px;

      .dropdown-icon {
        top: 10px;
      }

      .select-button {
        height: 48px;
        line-height: 48px;

        input {
          height: 48px;
          line-height: 48px;
        }
      }

      label {
        top: 13px;
      }
    }

    .filters-clear {
      @include radius(50%);
      position: absolute;
      left: calc(100% + 10px);
      top: 50%;
      transform: translateY(-50%);
      width: 36px !important;
      min-width: unset;
      height: 36px;
      color: var(--color-highlight);

      &:hover {
        background-color: var(--color-highlight-shade);
        // color: var(--color-text);
      }
    }
  }
}
