.quote-detail {
  display: block;
  padding-bottom: 156px;

  &.is-offensive {
    .quote-detail-top a,
    .quote-item-content {
      --color-highlight: var(--color-red);
    }
  }

  .quote-container {
    max-width: 956px;
  }

  .quote-detail-top {
    @include flex(15px);
    padding-top: 3em;
    margin-bottom: 20px;
    position: relative;

    .button.btn-white:first-of-type {
      min-width: unset;
      position: absolute;
      bottom: 0;
      left: -56px;
      color: var(--color-text-light);

      &:hover {
        color: var(--color-text);
      }
    }

    .button,
    span {
      font-size: 1.4rem;
      color: var(--color-text-light);
    }

    .button {
      @include font(400);

      &.highlight {
        .material-icons {
          color: var(--color-highlight) !important;
        }
      }

      &.red {
        .material-icons {
          color: var(--color-text-light);
        }

        &.is-active .material-icons {
          color: var(--color-red);
        }
      }

      &:hover {
        color: var(--color-text);

        .material-icons {
          color: var(--color-text);
        }
      }
    }

    a {
      @include font(700);
      font-size: inherit;
      color: var(--color-highlight);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-decoration-color: var(--color-highlight);
      }
    }

    .quotees-circles {
      @include flex(5px);

      a {
        text-decoration: none !important;
        width: 24px;
        height: 24px;
      }

      div,
      img {
        @include radius(50%);
        width: 24px;
        height: 24px;
        object-fit: cover;
        object-position: center;
      }

      div {
        @include font(400);
        @include flex(0, center, center);
        text-decoration: none !important;
        text-transform: uppercase;
        color: var(--color-text-dark);
        font-size: 1.4rem;
      }
    }
  }

  .quote-detail-header {
    @include flex(0, $justify: space-between, $align: center);
    margin-bottom: 20px;

    h3 {
      font-size: 2.4rem;
      color: var(--color-text);

      span {
        color: var(--color-text-light);
        font-size: inherit;
      }
    }

    .quote p {
      font-size: 1.2rem;
      color: var(--color-text-light);
    }
  }

  .quote-item-content {
    @include radius(var(--radius-lg));
    padding: 20px 30px;
    margin-bottom: 15px;
    background-color: var(--color-bg-light);
    box-shadow: var(--shadow);

    .quote-item-content-block {
      &.quote-item-context strong {
        font-size: 3rem;
      }

      &.quote-item-highlight strong {
        font-size: 5.6rem;
      }
    }
  }

  .quote-item-tags {
    @include flex(10px, wrap);
    margin-bottom: 50px;
    padding-left: 30px;

    .tags {
      @include flex(10px, wrap);

      button {
        font-size: 1.4rem;
        color: var(--color-text-lighter);
        text-decoration: none;

        &::first-letter {
          @include font(600);
        }

        &:before {
          content: "#";
        }

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 3px;
          text-decoration-color: var(--color-text-light);
        }
      }
    }

    .quote-detail-add-tag {
      position: relative;

      .button.btn-white {
        color: var(--color-text-light);

        &:hover {
          color: var(--color-text);
        }
      }

      .dropdown-icon,
      .select-button {
        display: none;
      }

      .form-select.is-open .select-dropdown {
        width: 216px;
      }
    }
  }
}
