.quote-route-create {
  h1 {
    margin-bottom: 50px;
  }

  .quote-create {
    display: block;

    .quote-blocks {
      display: block;
    }

    .add-block {
      @include t();
      @include radius(12px);
      background-color: var(--color-bg-light);
      height: 128px;
      display: block;
      width: 100%;
      position: relative;
      border: 1px solid transparent;
      margin-bottom: 40px;

      &.has-blocks {
        height: 64px;
        border-color: var(--color-border);
        background-color: transparent;

        &:hover {
          background-color: var(--color-bg-light);
        }
      }

      &:hover {
        background-color: var(--color-bg-light-hover);
      }

      & > span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      span {
        @include flex(10px);
        font-size: 1.4rem;
        color: var(--color-text);

        .material-icons {
          color: var(--color-highlight);
        }
      }
    }

    .quote-publish {
      width: 75%;

      .form-input {
        margin-bottom: 40px;
      }

      .form-checkbox {
        margin-bottom: 10px;
      }

      .form-select {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }
}

.quote-block {
  @include radius(12px);
  display: block;
  position: relative;
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid var(--color-border);

  .quote-number {
    display: block;
    position: absolute;
    top: 0px;
    left: -32px;
    font-size: 1.4rem;
    color: var(--color-highlight);

    b {
      font-size: inherit;
    }
  }

  &:last-of-type {
    margin-bottom: 40px;
  }
}
