.quote-profile {
  @include flex(0, $align: flex-start);
  padding-top: 10em;
  z-index: 1;
  position: relative;

  .quote-container {
    @include grid(80px, 192px 1fr);
    position: relative;
    z-index: 10;

    .quote-side {
      position: relative;
      z-index: 10;

      svg {
        position: fixed;
        left: -256px;
        top: -64px;
        opacity: 0.35;
        transform-origin: top left;
        pointer-events: none;
        // animation: 120s scl infinite alternate;
        z-index: -1;
      }

      .quote-side-content {
        top: calc(24%);
        position: sticky;

        .image-wrap {
          @include radius(50%);
          width: 192px;
          height: 192px;
          min-width: 192px;
          min-height: 192px;
          box-shadow: var(--shadow);
          margin-bottom: 30px;

          img {
            @include radius(50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            background-color: var(--color-bg-light);
          }
        }

        ul {
          @include flex(15px, $justify: center);
          width: 100%;
          list-style: none;

          li {
            font-size: 1.2rem;
            text-align: center;

            button {
              @include font(400);
              font-size: inherit;
              color: var(--color-text-light);
              text-decoration: none;

              &:hover {
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-decoration-color: rgb(var(--color-highlight));
              }
            }

            .circle {
              @include radius(50%);
              width: 5px;
              height: 5px;
              background-color: var(--color-border);
            }

            span {
              @include font(600);
              color: var(--color-highlight);
              font-size: inherit;
            }
          }
        }
      }
    }

    .quote-user-info {
      display: block;
      position: relative;
      z-index: 1;
      padding-bottom: 10em;

      .edit-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: -10%;
        z-index: 15;
        cursor: pointer;

        &:hover .material-icons {
          color: var(--color-highlight);
        }

        .material-icons {
          @include t();
          color: var(--color-text-light);
        }
      }

      h2 {
        font-size: 6.2rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 2rem;
        line-height: 1.6em;
      }

      hr {
        margin: 40px 0;
        // margin-top: 40px;
        border: none;
        border-bottom: 1px solid var(--color-border);
      }

      .quote-user-normal,
      .quote-user-highlight {
        @include t();
        display: block;
        padding: 0 20px;
        padding-bottom: 40px;
        padding-top: 40px;
        border-bottom: 1px solid var(--color-border-light);
        text-decoration: none !important;

        &:last-of-type {
          margin-bottom: 20px;
        }

        &:hover {
          background-color: var(--color-bg-light);

          .tag.gray {
            background-color: var(--color-bg);
          }
        }

        p {
          @include bebas();
          font-size: 6rem;
          line-height: 1em;
          margin-bottom: 20px;
          color: var(--color-text);

          &:before,
          &:after {
            content: '"';
            color: var(--color-highlight);
          }
        }
      }

      .quote-user-normal {
        p {
          color: var(--color-text);
          opacity: 0.8;
          font-size: 3.6rem;
        }
      }
    }
  }
}

.quote-user-settings {
  .input-img {
    @include grid(40px, 184px 1fr);
    // align-items: center;
    margin-bottom: 20px;

    img {
      @include radius(50%);
      display: block;
      width: 184px;
      height: 184px;
      border: none;
      overflow: hidden;
      background-color: var(--color-bg);
      object-fit: cover;
      object-position: center;
    }
  }

  textarea {
    height: 156px;
  }
}
