.route-statistics {
  padding-top: 20px;

  h1 {
    margin-bottom: 40px;
  }

  .stats-grid {
    @include radius(var(--radius-lg));
    @include grid(0, repeat(5, 1fr));
    border: 1px solid var(--color-border);
    margin-bottom: 40px;

    .cell {
      @include flex(5px, nowrap, center, center, column);

      padding: 30px;
      height: 128px;
      border-right: 1px solid var(--color-border);

      &:nth-child(5n) {
        border-right: 0;
      }

      &:nth-child(-n + 5) {
        border-bottom: 1px solid var(--color-border);
      }

      &.date {
        strong {
          font-size: 1.6rem;
        }
      }

      strong {
        @include font(700);
        font-size: 3rem;
        color: var(--color-highlight);
      }

      span {
        font-size: 1.2rem;
        color: var(--color-text-light);
      }
    }
  }

  .year-breakdown {
    @include radius(var(--radius-lg));
    margin-bottom: 40px;
    border: 1px solid var(--color-border);

    .fusion-tabs {
      padding: 5px 20px 0;
      border-bottom: 1px solid var(--color-border);
    }

    .year-item {
      display: block;
      padding: 20px;

      .month-row {
        @include flex(8px);
        margin-bottom: 13px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &.days-count {
          // margin-bottom: 0;
          // margin-top: -5px;
          margin-bottom: 5px;

          .month-tile {
            @include flex(0, $justify: center);
            font-size: 1rem;
            color: var(--color-text);
            opacity: 0.28;
          }
        }

        .month-title {
          display: block;
          width: 72px;
          margin-right: 20px;
          text-align: left;
          font-size: 1.3rem;
          color: var(--color-text-light);
        }

        .month-tile {
          @include radius(var(--radius-tn));
          width: 16px;
          height: 16px;
        }
      }

      .year-top-level {
        display: block;
        padding-left: 100px;

        hr {
          margin: 25px 0;
          margin-right: 43px;
          border: none;
          border-bottom: 1px solid var(--color-border-light);
        }

        table {
          border-collapse: collapse;

          tr:last-child {
            th,
            td {
              padding-bottom: 0;
            }
          }

          th,
          td {
            vertical-align: middle;
            padding-bottom: 10px;
          }

          th {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: var(--color-text-lighter);
            padding-right: 20px;
            text-align: left;
            padding-bottom: 5px;
            white-space: nowrap;
          }

          td {
            width: 100%;
            font-size: 1.4rem;

            b {
              color: var(--color-highlight);
              font-size: 1.4rem;
            }

            & > div {
              @include flex(10px);
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}
