.route-statistics {
  padding-top: 20px;

  h1 {
    margin-bottom: 40px;
  }

  .stats-grid {
    @include radius(var(--radius-lg));
    @include grid(0, repeat(5, 1fr));
    border: 1px solid var(--color-border);
    margin-bottom: 40px;

    .cell {
      @include flex(5px, nowrap, center, center, column);

      padding: 30px;
      height: 128px;
      border-right: 1px solid var(--color-border);

      &:nth-child(5n) {
        border-right: 0;
      }

      &:nth-child(-n + 5) {
        border-bottom: 1px solid var(--color-border);
      }

      &.date {
        strong {
          font-size: 1.6rem;
        }
      }

      strong {
        @include font(700);
        font-size: 3rem;
        color: var(--color-highlight);
      }

      span {
        font-size: 1.2rem;
        color: var(--color-text-light);
      }
    }
  }

  .year-breakdown {
    @include radius(var(--radius-lg));
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid var(--color-border);

    .fusion-tabs {
      padding-bottom: 30px;
    }

    .year-item {
      display: block;

      .month-row {
        @include flex(7px);
        margin-bottom: 12px;

        .month-title {
          display: block;
          width: 65px;
          margin-right: 26px;
          text-align: left;
          font-size: 1.4rem;
          color: var(--color-text-light);
        }

        .month-tile {
          @include radius(var(--radius-tn));
          width: 16px;
          height: 16px;
          // background-color: var(--color-bg-light);

          &.has-items {
            // background-color: var(--color-highlight);
          }
        }
      }
    }
  }
}
