.game-fragment {
  @include flex(0, $dir: column);
  padding: 80px 40px;

  .gamemode-title {
    font-size: 1.4rem;
    color: var(--color-text-light);
    margin-bottom: 40px;
  }

  &.fill-the-quote,
  &.guess-the-quotee,
  &.guess-the-author {
    .fragment-part {
      display: block;
      margin-bottom: 40px;

      p {
        font-size: 3.2rem;
        margin-bottom: 10px;
        color: var(--color-text);
        min-width: 128px;
      }
    }

    .fragment-quotee {
      @include flex(8px, $justify: flex-end);
      font-size: 1.4rem;
      text-align: right;
      // width: 100%;
      color: var(--color-text-light);

      .material-icons {
        transform: scaleX(-1);
      }
    }

    .fragment-options {
      @include flex(16px);
      margin-bottom: 40px;

      &.is-locked {
        pointer-events: none !important;

        .button:not(.btn-highlight) {
          opacity: 0.3;
        }

        & + .button {
          pointer-events: none !important;
        }
      }

      .button {
        &.btn-highlight {
          color: var(--color-highlight) !important;
          background-color: var(--color-highlight-shade) !important;
        }
      }
    }

    .btn-ready {
      @include font(400);

      &.btn-white {
        color: var(--color-text-light);
      }
    }
  }

  &.guess-the-quotee {
    .fragment-part {
      &.fragment-highlight {
        p {
          font-size: 3.2rem;
          color: var(--color-text);
          margin-bottom: 16px;
        }
      }

      p {
        font-size: 2.2rem;
        color: var(--color-text-light);
      }
    }
  }

  &.fill-the-quote {
    .task {
      &.is-locked {
        pointer-events: none !important;
      }

      .task-wrap {
        @include flex(8px, wrap);
        margin-bottom: 16px;

        span {
          font-size: 4.8rem;
          line-height: 64px;
        }

        input {
          height: 64px;
          line-height: 64px;
          margin: 0 10px;
          text-align: center;
          font-size: 3.6rem;
          // width: auto;
          color: var(--color-highlight);
          width: 164px;
          border-bottom: 10px solid var(--color-highlight);
        }
      }
    }
  }
}
