.game-transition-modal {
  .modal-close {
    display: none;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 16px;
  }

  .game-user-wrap {
    @include flex(4px, nowrap);
    // @include grid(4px, 32px 1fr);
    align-items: center;

    &:first-of-type .rank {
      @include font(700);
      font-size: 2.2rem;
      color: var(--color-highlight);
    }

    &:nth-of-type(2) .rank {
      font-size: 1.8rem;
      color: var(--color-text);
    }

    .rank {
      font-size: 1.6rem;
      color: var(--color-text-light);
    }

    .game-user {
      @include flex(8px);
      flex: 1;

      span:first-of-type {
        flex: 1;
      }

      span:last-of-type {
        @include font(700);
        font-size: 1.4rem;
      }

      strong {
        @include font(600);
        font-size: 2rem;
        color: var(--color-text);
        margin: 0;
      }
    }
  }

  hr {
    margin: 40px 0;
    border: none;
    border-bottom: 1px solid var(--color-border);

    & + p {
      font-size: 1.4rem;
      width: 100%;
      text-align: center;
      color: var(--color-text-light);
    }
  }
}

.game-end-modal {
}
