.game-transition-modal {
  h3 {
    font-size: 2.4rem;
    margin-bottom: 16px;
  }

  hr {
    margin: 24px 0;
    border: none;
    border-bottom: 1px solid var(--color-border);
  }

  .modal-close {
    display: none;
  }

  .game-modal-question {
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-border);
    padding: 16px;
    margin-bottom: 20px;

    padding: 48px 32px;

    .fragment-author {
      display: block;
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 32px;
      }

      p {
        margin: 0;
        word-wrap: break-word;
        white-space: pre-wrap;
        margin-bottom: 8px;
      }

      .fragment-quotee {
        @include flex(4px, $justify: flex-end);
        font-size: 1.4rem;
        text-align: right;
        // width: 100%;
        color: var(--color-text-light);

        .material-icons {
          transform: scaleX(-1);
        }
      }
    }

    .quote-fill-wrap,
    p {
      font-size: 2.8rem;
      text-align: center;
      margin-bottom: 32px;

      &:last-child {
        margin: 0;
      }

      span,
      b,
      div {
        // padding: 0 3px;
        display: inline !important;
        font-size: inherit !important;
      }

      span {
        margin: 0 !important;
        color: var(--color-text);
      }

      b {
        padding: 0;
        color: var(--color-highlight);
      }
    }

    .quote-fill-wrap {
      @include flex(5px, wrap, center);
    }

    span {
      display: block;
      text-align: center;
      margin-bottom: 6px;
      font-size: 1.4rem;
      color: var(--color-text-light);
    }

    strong {
      display: block;
      text-align: center;
      color: var(--color-highlight);
      font-size: 3.4rem;
      margin: 0;
      text-transform: inherit;
    }
  }

  .game-user-wrap {
    &:first-child .game-user-wrap-inner .rank {
      @include font(700);
      font-size: 2.6rem;
      color: var(--color-highlight);
    }

    &:nth-of-type(2) .game-user-wrap-inner .rank {
      font-size: 2rem;
      color: var(--color-text);
    }

    &:nth-of-type(3) .game-user-wrap-inner .rank {
      color: var(--color-text);
    }

    .game-user-wrap-inner {
      @include flex(4px, nowrap);
      // @include grid(4px, 32px 1fr);
      align-items: center;

      .rank {
        width: 28px;
        font-size: 1.6rem;
        color: var(--color-text-light);
      }

      .game-user {
        @include flex(12px);
        flex: 1;

        .game-context {
          flex: 1;
        }

        .tag {
          // @include font(700);
          font-size: 1.4rem;
        }

        strong {
          @include font(600);
          font-size: 2rem;
          color: var(--color-text);
          margin: 0;
        }
      }
    }

    .game-user-answer {
      padding-top: 4px;
      @include flex(4px, wrap, $align: flex-start);
      // padding-left: 92px;

      span {
        // @include font(400);
        font-weight: 400;
        font-size: 1.4rem;
        color: var(--color-text-lighter);

        &:not(:first-child) {
          &:after:not(:only-child) {
            content: ", ";
          }

          &.red {
            color: var(--color-red);
          }

          &.green {
            color: var(--color-green);
          }
        }
      }

      // p {
      //   font-size: 1.4rem;
      //   color: var(--color-text);
      // }
    }
  }

  hr + p {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    color: var(--color-text-light);
  }
}
