@import "./navigation/sidebar";

@import "./quotes/quote-item";

@import "./routes/home";

@import "./routes/quote-detail";
@import "./routes/quote-list";
@import "./routes/quote-create";

.quote-app {
  @include flex($gap: 0px, $justify: flex-start, $align: flex-start);
  position: relative;
  min-height: 100vh;

  .quote-content-wrap {
    flex: 1;
    padding-top: 4em;
  }

  h1 {
    // padding-top: 4em;
    font-size: 4rem;
  }
}
