@import "./navigation/sidebar";
@import "./navigation/header";

@import "./quotes/quote-item";

@import "./routes/home";

@import "./routes/quote-detail";
@import "./routes/quote-list";
@import "./routes/quote-create";
@import "./routes/quote-user";

@import "./create/create-block-context";
@import "./create/create-block-highlight";
@import "./create/create-block-image";

@import "./sign-in.scss";

.quote-app {
  @include flex($gap: 0px, $justify: flex-start, $align: flex-start);
  position: relative;
  min-height: 100vh;
  padding-top: $header;

  .quote-content-wrap {
    flex: 1;
    padding-top: 4em;
  }

  h1 {
    // padding-top: 4em;
    font-size: 4rem;
  }
}
