.button {
  @include t();
  @include radius(3px);
  @include font(700);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 36px;
  line-height: 36px;
  // min-width: 104px;
  padding: 0 10px;
  text-align: center;
  color: var(--color-text-dark);
  background-color: var(--color-highlight);
  font-size: 1.4rem;

  &:hover {
    background-color: var(--color-highlight-tint);
  }

  &.btn-round {
    @include radius(50%);
    width: 36px !important;
    min-width: unset;
    height: 36px;
    line-height: 36px;
  }

  &.regular {
    @include font(400);
  }

  &.btn-small {
    height: 30px;
    line-height: 30px;
  }

  &.wide {
    min-width: 96px;
  }

  &.semiwide {
    padding: 0 20px;
  }

  &.btn-gray {
    color: var(--color-text);
    background-color: var(--color-bg-light);

    &:hover {
      background-color: var(--color-bg-light-hover);
    }
  }

  &.btn-gray-dark {
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  &.btn-white {
    color: var(--color-text);
    background-color: transparent;

    &:hover {
      background-color: var(--color-bg-light);
    }
  }

  &.btn-red {
    color: var(--color-red);
    background-color: var(--color-bg-light);

    &:hover {
      background-color: var(--color-bg-light);
    }
  }
}

.btn-round {
  position: relative;
  z-index: 1;

  &:after {
    @include t();
    @include radius(50%);
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 32px;
    height: 32px;
    z-index: -1;
  }

  .material-icons {
    transform: translateY(1px);
    line-height: none;
  }

  &.btn-round-24:after {
    width: 24px;
    height: 24px;
  }

  &.btn-round-40:after {
    width: 40px;
    height: 40px;
  }

  &.btn-red:hover:after {
    background-color: var(--color-red);
    opacity: 0.25;
  }

  &.btn-highlight:hover:after {
    background-color: var(--color-highlight);
    opacity: 0.25;
  }

  &.btn-gray:hover:after {
    background-color: var(--color-bg-light-hover);
    opacity: 0.5;
  }
}

.comment-user-link {
  @include t();
  @include radius(var(--radius-sm));
  display: inline-block;
  padding: 4px;
  background-color: var(--color-bg-light);
  font-size: 1.4rem;
  color: var(--color-secondary);

  &:before {
    content: "@";
    font-size: inherit;
  }

  &:hover {
    color: var(--color-text);
    background-color: var(--color-bg-light-hover);
  }
}
