.dropdown-element {
  @include t(0.1s);
  @include radius(var(--radius-sm));
  position: absolute;
  padding: 10px;
  top: 100%;
  left: 0;
  width: 256px;
  max-height: 256px;
  overflow-y: auto;
  scrollbar-width: 4px;
  scrollbar-width: thin;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  transform: scale(0.9) translateY(-8px);
  transform-origin: center top;

  &.is-active {
    // top: calc(100% + 16px);
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(0);
  }

  button {
    @include t();
    @include radius(var(--radius-sm));
    text-align: left;
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    padding-left: 60px;
    margin-bottom: 5px;
    color: var(--color-text);
    // border-bottom: 1px solid var(--color-border-light);

    .material-icons {
      display: block;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.8rem;
      color: var(--color-highlight);
    }

    &:hover {
      background-color: var(--color-bg-light-hover);

      .add-item {
        opacity: 1;
      }
    }

    &:last-child {
      border-bottom: 0;
      margin: 0;
    }
  }
}
