.form-search,
.form-select,
.form-textarea,
.form-input {
  .material-icons {
    font-size: 2.4rem;
    color: var(--color-highlight);
  }
}

input {
  background-color: unset;
  border: unset;
}

.form-textarea,
.form-input,
.form-search {
  display: block;
  position: relative;
  // flex: 1;

  &.has-icon {
    input {
      // padding: 0 50px;
      padding-left: 55px;
    }
  }

  textarea,
  input {
    @include radius(28px);
    @include font(400);
    height: 56px;
    line-height: 56px;
    font-size: 1.6rem;
    border: 1px solid var(--color-border);
    color: var(--color-text);
    padding: 0 25px;
    width: 100%;
    background-color: transparent;

    &:not(:placeholder-shown),
    &:focus,
    &:active {
      border-color: var(--color-highlight);
    }
  }

  label,
  button,
  & > .material-icons {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  button {
    left: unset;
    right: 20px;
  }
}

.form-search input {
  padding: 0 50px;
}

::placeholder {
  color: var(--color-text-lighter);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 56px var(--color-bg) inset !important;
  box-shadow: 0 0 0 56px var(--color-bg) inset !important;
}

.form-select,
.form-textarea,
.form-input {
  input {
    height: 56px;
    width: 100%;
    line-height: 36px;
  }

  textarea {
    padding: 20px;
    min-height: 80px;
    resize: vertical;
    padding-left: 56px;
    padding-top: 25px;
    line-height: 25px;
    overflow-y: auto;

    ::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    left: 20px;
    color: var(--color-text-light);
  }
}

.form-textarea {
  label {
    top: 35px;
  }
}

.form-select {
  display: block;
  position: relative;
  z-index: 6;

  &.is-open {
    z-index: 100;

    .select-dropdown {
      top: calc(100% + 8px);
      z-index: 100;
      opacity: 1;
      visibility: visible;
      transform: scale(1) translateY(0);
    }
  }

  .select-button {
    @include radius(28px);
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    padding-left: 56px;
    z-index: 1;
    border: 1px solid var(--color-border);
    padding-right: 32px;

    input {
      width: 100%;
      color: var(--color-text);
      // min-width: 96px;
    }

    &.has-selected {
      ::placeholder {
        color: var(--color-text);
      }
    }
  }

  .dropdown-icon {
    position: absolute;
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
  }

  .select-dropdown {
    @include t(0.1s);
    @include radius(6px);
    position: absolute;
    padding: 10px;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 216px;
    overflow-y: auto;
    scrollbar-width: 4px;
    scrollbar-width: thin;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow);
    transform: scale(0.9) translateY(-8px);
    transform-origin: center top;

    button,
    .select-no-options {
      display: block;
      width: 100%;
      height: 56px;
      padding: 0 20px;
      line-height: 56px;
      color: var(--color-text);
    }

    button {
      @include radius(6px);
      text-align: left;
      position: relative;
      border-bottom: 1px solid var(--color-border-light);

      .material-icons {
        display: block;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.8rem;
        color: var(--color-text);

        &.add-item {
          opacity: 0;
        }
      }

      &.is-selected {
        background-color: var(--color-highlight);
        color: var(--color-text-dark);

        &:hover {
          background-color: var(--color-highlight-tint);
        }

        .material-icons {
          color: var(--color-text-dark);
        }
      }

      &:hover {
        background-color: var(--color-highlight-shade);

        .add-item {
          opacity: 1;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.form-checkbox {
  input[type="checkbox"] {
    display: none;

    & + label {
      @include flex($gap: 16px);
      cursor: pointer;

      p {
        font-size: 1.4rem;
      }

      .icon {
        color: var(--color-highlight);
      }
    }
  }
}

// TODO: Create component if needed
.form-radio {
  input[type="radio"] {
    display: none;

    & + label {
      // font-size: 1.4rem;
      // color: ;
      cursor: pointer;

      .material-icons {
        font-size: 1.8rem;
        color: var(--color-text);
      }
    }

    &:checked + label {
      .material-icons {
        color: var(--color-highlight);
      }
    }
  }
}
