.quote-container {
  display: block;
  margin-left: $from-left;
  max-width: 1200px;
  width: 100%;

  &.quote-smaller {
    max-width: 920px;
  }
}

.quote-container-small {
  display: block;
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  @include flex(20px, $justify: flex-start, $align: center);

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.modal {
  display: flex;
  justify-content: center;
  padding-top: 5em;
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: block;
  background-color: rgba(#181818, 0.8);
  backdrop-filter: blur(5px);
  overflow-y: hidden;

  .modal-close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    color: var(--color-text);

    &:hover {
      color: var(--color-highlight);
    }
  }

  .modal-content {
    @include radius(var(--radius-lg));
    display: block;
    width: 100%;
    z-index: 10;
    padding: 30px;
    position: relative;
    overflow-y: auto;
    max-height: calc(100vh - 7em - 40px);
    background-color: var(--color-bg-light);
    box-shadow: var(--shadow);

    h2 {
      font-size: 3.2rem;
      margin-bottom: 20px;
    }

    pre {
      display: block;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
      max-width: 100%;
      overflow: hidden;
    }

    strong {
      @include font(400);
      display: block;
      margin-bottom: 10px;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: var(--color-text-light);
      margin-top: 30px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.dot-padder {
  @include radius(50%);
  width: 6px;
  height: 6px;
  background-color: var(--color-bg-light);
  // margin: 0 10px;
}
