.quote-container {
  display: block;
  margin-left: $from-left;
  max-width: 920px;
  width: 100%;
  // padding-top: 2.5em;
}

.flex-wrap {
  @include flex(20px, $justify: flex-start, $align: center);

  &.center {
    justify-content: center;
  }
}
