.tag {
  @include t();
  @include radius(15px);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  font-size: 1.4rem;

  &.gray {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }

  &.highlight {
    background-color: var(--color-bg-light);
    color: var(--color-highlight);
  }
}
