.quote-block.block-create-image {
  // padding: 32px;
  padding: 0;
  border: none;

  $height: 156px;

  div.form-quotee {
    width: 30%;
  }

  .form-file {
    margin-bottom: 24px;
  }

  input[type="file"] {
    display: none;

    & + label {
      @include radius(12px);
      @include flex($align: center, $justify: center);
      height: $height;
      border: 3px dashed var(--color-highlight);
      color: var(--color-text-light);
      cursor: pointer;

      span {
        font-size: 1.4rem;
      }

      &:hover {
        background-color: var(--color-highlight-shade);

        span {
          color: var(--color-highlight);
        }
      }
    }
  }

  &.is-loading {
    border: 1px solid var(--color-border);
    padding: 0 32px;
    height: $height;

    .image-loading {
      height: 100%;
      @include flex($align: center, $justify: center, $dir: column);

      p {
        color: var(--color-text-light);
        font-size: 1.2rem;
      }
    }
  }

  .image-preview {
    display: block;
    position: relative;

    .image-wrap {
      display: inline-block;
      position: relative;

      &:hover {
        .upload-new-overlay {
          gap: 12px;
          opacity: 1;
          z-index: 10;
          visibility: visible;
        }
      }

      .upload-new-overlay {
        @include t();
        @include flex(4px, $align: center, $justify: center, $dir: column);
        position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        inset: 0;
        width: 100%;
        padding: 12px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        &:before {
          @include radius(6px);
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          z-index: -1;
          opacity: 0.6;
          background-color: var(--color-bg);
        }

        span {
          color: var(--color-highlight);
        }
      }

      img {
        @include radius(6px);
        cursor: pointer;
        overflow: hidden;
        display: block;
        max-width: 100%;
        max-height: 512px;
        object-position: top left;
        object-fit: contain;
        box-shadow: var(--shadow);
      }
    }
  }
}
