.quote-block.block-create-highlight {
  border-color: var(--color-highlight);

  .form-textarea {
    textarea {
      @include font(700);
      font-size: 2.2rem;
    }
  }

  .quote-buttons {
    .btn-highlight:first-of-type {
      display: none;
    }
  }
}
